@model IEnumerable<Kullanici>

@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>

<p>
    MLPCARE Talep Takip Sistemi
</p>

<table class="table table-hover mt-3">
    <thead>
    <th>ID</th>
    <th>Kullanıcı Adı</th>
    <th>Şifre</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.id</td>
                <td> @item.KullaniciAdi</td>
                <td> @item.Sifre</td>
            </tr>
        }
    </tbody>
</table>

