@{
    ViewData["Title"] = "Profil Sayfası";
    if (ViewBag.kisiveri2 == true)
    {
        Layout = "_Layout2";
    }
    else
    {
        Layout = "_Layout";
    }
}
<div>
    <p>Profilim</p>
    <p>Aktif Kullanıcı Adı: <span class="text-danger">@ViewBag.kisiVeri</span></p>
    <p>Aktif Kullanıcı Adminlik: <span class="text-danger">@ViewBag.kisiVeri2</span></p>
</div>
