@model Talep 

@{
    ViewData["Title"] = "Detay Sayfası";
}
<h1>@ViewData["Title"]</h1>

<div class="jumbotron mt-3">
    <h2 class="text-danger">@Model.TalepID</h2>
    <h5 class="text-primary">@Model.TalepKonu</h5>
    <h5 class="text-primary">@Model.TalepAciklama</h5>
    <hr />
    @*<img src="/resimler/@Model.Resim" style="width: 250px;" />*@
</div>
<a asp-action="BekleyenTalep" class="btn btn-secondary">Geri</a>
