@model IEnumerable<Talep>

@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>

<p>
    MLPCARE Talep Takip Sistemi
</p>

@*@foreach (var item in Model)
{
    <tr>
        <td> @item.TalepGonderen</td>
        <td>
            <a class="btn btn-outline-secondary" asp-action="Listele" asp-route-username="@item.TalepGonderen">LİSTELE</a>
        </td>
    </tr>
}*@